<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="/">EnigmaShare</a>
    {% if current_user.is_active %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
  </header>
  {% with messages = get_flashed_messages() %}
  <ul>
    {% for message in messages%}
      <p>{{ message }}</p>
    {% endfor %}
  </ul>
  {% endwith %}
  {% block content %}
  {% endblock content %}
</body>
</html>