{% extends 'base.html' %}
{% block content %}
<h1>Send Message</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title() }}
    </p>
    <p>
        {{ form.message.label }}<br>
        {{ form.message() }}
    </p>
    <p>
        {{ form.receiver.label }}<br>
        {{ form.receiver() }}
    </p>
    <p>
        {{ form.file.label }}<br>
        {{ form.file() }}
    </p>
    <p>
        {{ form.allow_encryption.label }}
        {{ form.allow_encryption() }}
    </p>
    <p>
        {{ form.encryption_key.label }}<br>
        {{ form.encryption_key(value="") }}
    </p>
    {{ form.submit()}}
</form>
{% endblock content %}