{% extends 'base.html' %}
{% block content %}
<a href="/">Back</a>
<div>
    <h1 class="page-title">View Message</h1>
    <img src="{{ url_for('static', filename='/uploads/'+message.file) }}" alt="" id="image-preview">
        {% if message.encrypted %}
        <input type="text" placeholder="Decryption Key">
        {% endif %}
        <button id="reveal-btn">Reveal text</button>
    <p id="secret_msg"></p>
</div>
{% block scripts%}
<script>
    document.getElementById("reveal-btn").addEventListener('click', (e) => {
        fetch('/reveal_text/{{message.id}}', {method: 'post'})
            .then(resp => resp.json())
            .then(data => document.getElementById("secret_msg").textContent = data.message)
            .catch(e => document.getElementById("secret_msg").textContent = "An error occured!")
    })
</script>
{% endblock scripts %}
{% endblock content %}